.vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .bg_home {
    position: absolute !important;
    right: -100px !important;
    height: 80vh !important;
    width: 100% !important;
    object-fit: cover !important;
    opacity: 0.3;
    overflow: hidden;
  }

  
.title{
    height: 90vh;
    min-height: 650px;
  }
  
  .h1 {
    font-family: Poppins Bold !important;
    font-size: 50px !important;
    color: white;
    margin: 0;
  }
  
  .sub_title {
    position: relative;
    font-size: 20px;
  }
  
  .sub_title p {
    font-weight: normal !important;
    color: white;
  }
  
  .sub_title input {
    font-size: 15px;
    padding: 5px 2em;
    margin: 10px 10px 0 0;
    font-family: Poppins !important;
  }

  .svg{
    position: relative !important;
    left: 100px !important;
    top: 50px !important;
  }
  

  